/*
HEADER
  LOGO / SITE NAME
  - √ make text smaller
  - √ remove bold
  - √ change color from blue
  - √ remove underline (only want when hovered)
  - √ font family

  NAVIGATION
  - √ remove bullets
  - √ make all links inline
  - √ put navigation next to site name
  - √ font family
  - √ font size
  - √ spacing between links
  - √ vertical alignment of lists with site name
  - √ keep projects underlined because its the active page
  - √ fix kerning maybe?
  - √ fix underline spacing
*/

body {
  font-family: sans-serif;
  letter-spacing: 0.05em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

.site-title {
  font-size: 13px;
  font-weight: normal;
  float: left;
  margin: 18px;
  margin-right: 0;
}

.full-title {
  font-size: 13px;
  font-weight: normal;
  float: right;
  margin: 18px;
  margin-right: 85px;
}

.navigation {
  float: left;
  margin: 18px;
  margin-left: 30px;
}

.navigation-list {
  list-style: none;
  font-size: 13px;
  padding-left: 0;
  margin: 0;
}

/* <li> tags inside of .navigation-list */
.navigation-list li {
  display: inline;
  margin-right: 30px;
}

.current-page a {
  border-bottom: 1px solid black;
}

.project-list {
  list-style: none;
  clear: both;
}

.project-list li {
  width: 190px;
  height: 135px;
  float: left;
  margin-right: 65px;
  margin-top: 25px;
}

.project-list time {
  font-size: 10px;
}

.project-list h2 {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.project-list p {
  margin: 0;
  font-size: 12px;
}

.real-link-wrapper {
  clear: both;
}



/* ==================================
----------Index.html styles----------
=====================================*/

.words {
  list-style: none;
  font-size: 30px;
}

.words li {
  margin: 15px;
  float: left;
}

.pl-link-wrapper {
  clear: both;
  font-size: 25px;
}

.pl-link-wrapper a {
  margin-top: 20px;
  display: inline-block;
  color: salmon;
}

/*
Responsive version:
- Breakpoint 960px
- push navigation to the right
- reduce header margin
- don't stack boxes
- hide the right heading
*/
